<mat-card class="card">
  <img mat-card-image src="../../../../../assets/img/gws.png" alt="Imagem da logo marca da Empresa GW Sistemas">
  <mat-card-content class="card-subtitulo">
      <p>
          <span><b class="star">Olá! Seja bem vinda(o)</b></span>
      </p>
      <p>Fique a vontade para testar o sistema! Aguardo a sua decisão e o seu feedback. <span class="whatsapp">
              <a href="https://web.whatsapp.com/send?phone=71991125697" target="_blank">
                  <i class="fa-brands fa-whatsapp"></i></a>
          </span></p>
  </mat-card-content>
</mat-card>