<div class="container">
  <a routerLink="#"><i class="fa-solid fa-house material-symbols-outlined"></i></a>
  <a routerLink="#"><i class="fa-solid fa-people-group material-symbols-outlined"></i></a>
  <a routerLink="#/"><i class="fa-solid fa-cash-register material-symbols-outlined"></i></a>
  <a routerLink="#"><i class="fa-solid fa-list material-symbols-outlined"></i></a>
  <a routerLink="#"><i class="fa-solid fa-coins material-symbols-outlined"></i></a>
  <a routerLink="#"><i class="fa-solid fa-table-list material-symbols-outlined"></i></a>
  <a routerLink="#"><i class="fa-brands fa-servicestack material-symbols-outlined"></i></a>
  <a routerLink="#"><i class="fa-solid fa-arrow-right-from-bracket material-symbols-outlined"></i></a>
</div>
