<div class="container">

  <a class="inline-icon" routerLink="/home/deliveries"><div><i class="fa-solid fa-house material-symbols-outlined"></i></div><div><p>Deliveries Pendentes</p></div></a>
  <a class="inline-icon" routerLink="#"><div><i class="fa-solid fa-truck material-symbols-outlined"></i></div><div><p>Deliveries</p></div></a>
  <a class="inline-icon" routerLink="/home/customers"><div><i class="fa-solid fa-list material-symbols-outlined"></i></div><div><p>Clientes</p></div></a>
  <a class="inline-icon" routerLink="#"><div><i class="fa-solid fa-table-list material-symbols-outlined"></i></div><div><p>Confirm Delivery</p></div></a>
  <a class="inline-icon" routerLink="#"><div><i class="fa-solid fa-arrow-right-from-bracket material-symbols-outlined "></i></div><div><p>Logof</p></div></a>
</div>
