<div class="container">

  <a class="inline-icon" routerLink="/gwsistemas/apresentation"><div><i class="fa-solid fa-home material-symbols-outlined"></i></div><div><p>Home</p></div></a>
  <a class="inline-icon" routerLink="/gwsistemas/deliveries"><div><i class="fa-solid fa-truck material-symbols-outlined"></i></div><div><p>Deliveries Pendentes</p></div></a>
  <a class="inline-icon" routerLink="/gwsistemas/deliveries/create-delivery"><div><i class="fa-solid fa-box-open material-symbols-outlined"></i></div><div><p>Solicitar Delivery</p></div></a>
  <a class="inline-icon" routerLink="/gwsistemas/customers"><div><i class="fa-solid fa-people-group material-symbols-outlined"></i></div><div><p>Clientes</p></div></a>
  <a class="inline-icon" routerLink="/gwsistemas/products"><div><i class="fa-solid fa-warehouse material-symbols-outlined"></i></div><div><p>Produtos</p></div></a>
  <a class="inline-icon" href="https://basededocumentosgw.atlassian.net/wiki/spaces/BDDG/pages/332496904/Novidades+da+vers+o+4.6.0"><div><i class="fa-solid fa-arrow-right-from-bracket material-symbols-outlined "></i></div><div><p>Logof</p></div></a>
</div>
