<div class="container">
  <h2 class="little-container">Deliveries Pendentes</h2>
  <div class="tabela mat-elevation-z8 paginator-fluid">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="sender">
        <th mat-header-cell *matHeaderCellDef>Remetente</th>
        <td mat-cell *matCellDef="let element">{{ element.sender.customerName }}</td>
      </ng-container>
      <ng-container matColumnDef="recipient">
        <th mat-header-cell *matHeaderCellDef>Destinatário</th>
        <td mat-cell *matCellDef="let element">{{ element.recipient.customerName }}</td>
      </ng-container>
      <ng-container matColumnDef="statusDelivery">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.statusDelivery }}</td>
      </ng-container>
      <ng-container matColumnDef="freightValue">
        <th mat-header-cell *matHeaderCellDef>Valor Frete</th>
        <td mat-cell *matCellDef="let element">{{ element.freightValue | currency:'BRL':'symbol':'1.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="itemsList">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let element" [innerHTML]="formatItemsList(element.itemsList[0])">
        </td>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/gwsistemas/deliveries/confirm-delivery', element.id]">
            <i class="fa-regular fa-circle-check update"></i></a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 15, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
